<script src="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.js"></script>
<link rel="stylesheet" href="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.css" type="text/css"/>

<script src="{$wa_url}wa-apps/shop/plugins/preorder/js/plugin.js?{$v}"></script>
<link rel="stylesheet" href="{$wa_url}wa-apps/shop/plugins/preorder/css/plugin.css?{$v}">

<h1>
	Настройка плагина
	<a href="mailto:waapru@gmail.com" title="waapru@gmail.com"><i class="icon16 status-green"></i>Поддержка</a>
</h1>

<div id="desc-block">
	<p>Плагин "Предзаказ" позволяет посетителям интернет магазина сделать предварительный заказ товара, количество которого равно нулю.</p>
	<p>Плагин формирует формы предварительного заказа для каждого артикула заказа, остаток для которого равен нулю. Кнопка предварительного заказа может выводяться через хук frontend_product.cart, обычно расположенного на странице товара рядом с кнопкой "В корзину", либо через хелпер плагина <b>{literal}{shopPreorderPlugin::form($product)}{/literal}</b>. Форма предварительного заказа для текущего артикула товара выводится в модальном окне.</p>
	<p>Корректная вставка хелпера:<br>
	{literal}
	<b style="font-size: 12px;font-family: verdana;">
	{if class_exists('shopPreorderPlugin') && shopPreorderPlugin::on()}{shopPreorderPlugin::form($product)}{/if}
	</b>
	{/literal}
	</p>
	<p>В настройке плагина возможно изменить дизайн формы для каждой темы дизайна витрины.</p>
	<p>Форма предзаказа в зависимости от настроки плагина, а так же от того, авторизован посетитель или нет, может содержать следующие поля: количество заказываемого товара, имя, телефон, email, комментарий. Возможно создание дополнительных полей, при этом обязательным условием является то, что значение атрибута "name" начинается с "preorder_add_".</p>
	<p>Например:<br>&lt;input name="preorder_add_date"&gt;</p>
	<p>Форма предварительного заказа формируется в двух режимах:</p>
	<p>
	1. <i>Режим авторизованного пользователя.</i><br>
	2. <i>Режим неавторизованного пользователя.</i> В этом режиме, если при совершении предзаказа введенный email совпадает с email уже существующего контакта (аналогично и с номером телефона), то предзаказ назначается этому контакту. Если совпадения по email или по номеру телефона не найдены, то создается новый контакт с логином равным значению поля "email" (в случае указанного телефонного номера логин - это только цифры номер телефона) и именем равным значению поля "Имя". Если поле имя пусто, то новому контакту назначается имя "Покупатель".
	</p>
	<p>При исполнении предзаказа создается заказ со статусом "Предзаказ" (идентификтор статуса заказа <b>preorder</b>).</p>
	<p>В разделе "Товары" backend'а плагин создает подраздел "Предзаказанные товары", в котором отражена сводная информация о предзаказанных товарах.</p>
	<p>Плагин предоставляет возможность настроить возможность предзаказа для конкретных товаров. Для этого создается новая характеристика с идентификатором preorder типа чекбоксы (множественный выбор):Текст со значениями 1 и 0. После создания характеристики для артикула товара появляется возможность назначить значение этой характеристики 1 или 0. При значении 1 - предзаказ данного артикула возможен, при 0 - невозможен.</p>
	<p>Плагин также предоставляет возможность отключения предзаказа для товаров определенной категории. Для этого в настройке категории укажите дополнительный параметр<br />
	<b>preorder=0</b>
	</p>

	<p><b>Действия для корректной работы плагина</b>:<br>
	1. Создать новый статус заказа с идентификатором "preorder". Его можно создать в разделе Настройки/Статусы заказов. Данному статусу заказа можно назначить различные дейстия, которые меняют статус заказа, например "Удалить" или "Поступление на склад" (см скриншот).<br>
	2. Добавить в javaScript-функции, отвечающие за смену артикула (product.js), выражение $.shopPreorderPlugin.showBtn(sku_id) для отображения соответствующей выбранному артикулу формы предзаказа.
	</p>

	<p>При создании предзаказа возможна отправка уведомлений на электронную почту. Для этого необходимо добавить действие с идентификатором preorder_create и назначить этому действию уведомления.</p>
	
	<p>По любым вопросам настройки и использования плагина обращайтесь в техподдержку плагина.</p>
</div>

<div class="block block-frontend-design">
	<h4>
		<i class="icon16 palette"></i>Дизайн плагина на витрине для темы 
		<select name="theme" id="select-frontend-disign-theme">
			<option value="_">Для всех тем</option>
			{foreach $themes as $theme}
			<option value="{$theme}">{$theme}</option>
			{/foreach}
			<option value="_default_">- исходный файл -</option>
		</select>
	</h4>
	<a href="#" class="inline-link" data-mode="text/css" data-name="css">css-стили</a>
	<a href="#" class="inline-link" data-mode="text/javascript" data-name="js">js-скрипты</a>
	<a href="#" class="inline-link" data-mode="text/html" data-name="form">блок "Форма предзаказа"</a>
	<a href="#" class="inline-link" data-mode="text/html" data-name="head">блок "frontend_head"</a>
	<div id="frontend-disign-dialog" style="display:none;">
		<textarea style="display:none;"></textarea>
		{$wa->csrf()}
	</div>
	<div>
		<span class="hint">По умолчанию дизайн плагина на витрине один и тот же для всех витрин. Если требуется настоить индивидуальный дизайн для каждой витрины, выберите тему в выпадающем списке, кликните на нужный блок и внесите необходимые правки.</span>
	</div>
</div>

<form action="?module=plugins&id=preorder&action=save" method="post" id="plugins-settings-form">
	{$wa->csrf()}
	<div class="field-group">
		{$settings.standart}
	</div>
	
	<hr>
		<input type="submit" class="button green" value="Сохранить" id="plugin-submit-btn" data-plugin-id="preorder">
		<span id="plugins-settings-form-status" style="display:none">
			<i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
		</span>
</form>

<script type="text/javascript">
$(function(){
	var wa_url = '{$wa_url}';
	$.shop.preorderPlugin.init();
})
</script>